@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.caixa{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.botão{
    padding: 10px;
    border-radius: 5px;
    color: #37004b;
    background-color: #8e03c0;
}

.botão2{
    max-width: 105px;
    padding: 10px;
    border-radius: 5px;
    color: #37004b;
    background-color: #8e03c0;
}

.geral{
    padding-bottom: 80px;
    justify-content: center;
    display: flex;
}

.meio{
    font-size: 32px;
}

.meio2{
    max-width: 1200px;
    padding-bottom: 20px;
}

.esquerda{
    padding-right: 10px;
    padding-top: 100px;
    max-width: 600px;
}

.direita{
    padding-left: 10px;
    max-height: 600px;
    max-width: 400px;
}

.geral2{
    color: white;
    background-color: #37004b;
}

.img{
    width: 200px;
}

.texto{
    text-align: center;
    font-size: 14px;
    padding-bottom: 20px;
}

.titulo{
    text-align: center;
    padding-bottom: 20px;
    font-size: 32px;
}

.imagem{
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.img2{
    width: 400px;
}

.sessão3{
    padding: 20px;
    display: flex;
    justify-content: center;
}

.texto2{
    padding-top: 10px;
    max-width: 640px;
}

.about{
    font-size: 25px;
}

.text1{
    padding-bottom: 20px;
}

.sessão4{
    color: white;
    padding: 20px;
    padding-bottom: 30px;
    background-color: #313131;
    display: flex;
    justify-content: space-between;
}

.logos{
    padding-top: 20px;
    max-width: 100px;
    display: flex;
    justify-content: space-between;
}

.pp{
    padding-bottom: 20px;
}